header{
    background-color: rgb(220, 217, 217);
    padding: 15px;
}
body{
    background-color: rgb(246, 244, 244);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-family: 'Verdana', cursive;
    color: rgb(49, 18, 174);
}

    .topnav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:start;
    align-content:center;
    margin: 0px 30px;
    }

    .description{
background-color: rgb(220, 217, 217);
text-align: center;
display: flex;
flex-direction: column;
width:92%;
padding: 30px;
margin: 0px 30px;
}

.experience{
    display: flex;
    flex-direction: row;
}
.experience_items{
display: flex;
flex-direction: column;
align-items: left;
text-align: justify;
width:20%;
background-color: white;
padding: 15px;
}

